In [6]:
from numpy.core.fromnumeric import shape
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
import os
import requests  
import pyspark as ps

In [7]:
spark = (ps.sql.SparkSession.builder 
        .master("local[4]") 
        .appName("sparkSQL exercise") 
        .getOrCreate()
        )
sc = spark.sparkContext

In [22]:
yourpath = './COVID-19/csse_covid_19_data/csse_covid_19_daily_reports_us/'

dict = {}
for root, dirs, files in os.walk(yourpath, topdown=False):
    for name in files:
        dict[name[:-4]]= pd.read_csv(yourpath+name)
        #dict[name[:-4]]= spark.read.csv(yourpath+name)

In [32]:
pop_density= pd.read_csv('./Population-Density_By_State.csv', delimiter=',')  
pop_density.rename(columns={'GEO.display-label':'States'}, inplace=True)
pop_density.drop(columns=['GEO.id','GEO.id2'], axis=1, inplace=True)
pop_density.drop(index=[51],axis=0, inplace=True)

#pop_density=  spark.read.options(header='True', inferSchema='True',delimiter=',').csv('./Population-Density_By_State.csv')

#pop_density= spark.sql('SELECT GEO.display-label as Sates FROM pop_density')
#pop_density.show()

In [85]:
dc =pd.Series({'state_name':'District of Columbia','party':'democrat','name':'Muriel Bowser'})
governor= pd.read_csv('./us-governors.csv', delimiter=',')
pop_density.rename(columns={'state_name':'States'}, inplace=True)
governor.drop(columns=['state_name_slug','state_code','state_code_slug','votesmart','title','name_slug','first_name','middle_name','last_name','name_suffix','goes_by','pronunciation','gender','ethnicity','religion','openly_lgbtq','date_of_birth','entered_office','term_end','biography','phone','fax','latitude','longitude','address_complete','address_number','address_prefix','address_street','address_sec_unit_type','address_sec_unit_num','address_city','address_state','address_zipcode','address_type','website','contact_page','facebook_url','twitter_handle','twitter_url','photo_url'], axis=1, inplace=True)
poli_leader = governor.append(dc,ignore_index=True)
poli_leader = poli_leader.sort_values(by=['state_name'])

In [8]:
city_pop = pd.read_csv('./PopbyCIty.csv', engine='python', delimiter='\t')
city_pop

,rank,City,State,2020estimate,2010census,Change2016,landarea(sqmi),landarea(km2),2016_population_density(sqmi),2016_population_density(km2),location
0,1,New York City[d],New York,"8,253,213","8,175,133",+0.96%,301.5 sq mi,780.9 km2,"28,317/sq mi","10,933/km2",40.66°N 73.93°W
1,2,Los Angeles,California,"3,970,219","3,792,621",+4.68%,468.7 sq mi,"1,213.9 km2","8,484/sq mi","3,276/km2",34.01°N 118.41°W
2,3,Chicago,Illinois,"2,677,643","2,695,598",−0.67%,227.3 sq mi,588.7 km2,"11,900/sq mi","4,600/km2",41.83°N 87.68°W
3,4,Houston[3],Texas,"2,316,120","2,100,263",+10.28%,637.5 sq mi,"1,651.1 km2","3,613/sq mi","1,395/km2",29.78°N 95.39°W
4,5,Phoenix,Arizona,"1,708,127","1,445,632",+18.16%,517.6 sq mi,"1,340.6 km2","3,120/sq mi","1,200/km2",33.57°N 112.09°W
...,...,...,...,...,...,...,...,...,...,...,...
312,313,San Angelo,Texas,"101,612","93,200",+9.03%,59.9 sq mi,155.1 km2,"1,681/sq mi",649/km2,31.44°N 100.45°W
313,314,Renton,Washington,"101,494","90,927",+11.62%,23.4 sq mi,60.6 km2,"4,314/sq mi","1,666/km2",47.47°N 122.19°W
314,315,Lee's Summit,Missouri,"101,467","91,364",+11.06%,63.8 sq mi,165.2 km2,"1,557/sq mi",601/km2,38.92°N 94.37°W
315,316,Vacaville,California,"101,332","92,428",+9.63%,29.0 sq mi,75.1 km2,"3,449/sq mi","1,332/km2",38.35°N 121.97°W
316,317,Vista,California,"100,636","93,834",+7.25%,18.7 sq mi,48.4 km2,"5,436/sq mi","2,099/km2",33.18°N 117.23°W

In [36]:
citypop = spark.read.options(header='True', inferSchema='True', delimiter='\t').csv('./popcity.csv')
citypop.createOrReplaceTempView('cp')
citypop.show()

+--------+----------------+--------------------+---------+----------+-------+------------------+-----------------+--------------------+-------------------+----------------+
|2020rank|            City|               State| estimate|2010census| Change|2016landarea(sqmi)|2016landarea(km2)|2016population(sqmi)|2016population(km2)|        Location|
+--------+----------------+--------------------+---------+----------+-------+------------------+-----------------+--------------------+-------------------+----------------+
|       1|New York City[d]|            New York|8,253,213| 8,175,133| +0.96%|       301.5 sq mi|        780.9 km2|        28,317/sq mi|         10,933/km2| 40.66°N 73.93°W|
|       2|     Los Angeles|          California|3,970,219| 3,792,621| +4.68%|       468.7 sq mi|      1,213.9 km2|         8,484/sq mi|          3,276/km2|34.01°N 118.41°W|
|       3|         Chicago|            Illinois|2,677,643| 2,695,598| −0.67%|       227.3 sq mi|        588.7 km2|        11,900/sq mi|          4,600/km2| 41.83°N 87.68°W|
|       4|      Houston[3]|               Texas|2,316,120| 2,100,263|+10.28%|       637.5 sq mi|      1,651.1 km2|         3,613/sq mi|          1,395/km2| 29.78°N 95.39°W|
|       5|         Phoenix|             Arizona|1,708,127| 1,445,632|+18.16%|       517.6 sq mi|      1,340.6 km2|         3,120/sq mi|          1,200/km2|33.57°N 112.09°W|
|       6| Philadelphia[e]|        Pennsylvania|1,578,487| 1,526,006| +3.44%|       134.2 sq mi|        347.6 km2|        11,683/sq mi|          4,511/km2| 40.00°N 75.13°W|
|       7|     San Antonio|               Texas|1,567,118| 1,327,407|+18.06%|       461.0 sq mi|      1,194.0 km2|         3,238/sq mi|          1,250/km2| 29.47°N 98.52°W|
|       8|       San Diego|          California|1,422,420| 1,307,402| +8.80%|       325.2 sq mi|        842.3 km2|         4,325/sq mi|          1,670/km2|32.81°N 117.13°W|
|       9|          Dallas|               Texas|1,343,266| 1,197,816|+12.14%|       340.9 sq mi|        882.9 km2|         3,866/sq mi|          1,493/km2| 32.79°N 96.76°W|
|      10|        San Jose|          California|1,013,616|   945,942| +7.15%|       177.5 sq mi|        459.7 km2|         5,777/sq mi|          2,231/km2|37.29°N 121.81°W|
|      11|          Austin|               Texas|  995,484|   790,390|+25.95%|       312.7 sq mi|        809.9 km2|         3,031/sq mi|          1,170/km2| 30.30°N 97.75°W|
|      12|      Fort Worth|               Texas|  927,720|   741,206|+25.16%|       342.9 sq mi|        888.1 km2|         2,491/sq mi|            962/km2| 32.78°N 97.34°W|
|      13| Jacksonville[f]|             Florida|  920,570|   821,784|+12.02%|       747.4 sq mi|      1,935.8 km2|         1,178/sq mi|            455/km2| 30.33°N 81.66°W|
|      14|        Columbus|                Ohio|  903,852|   787,033|+14.84%|       218.5 sq mi|        565.9 km2|         3,936/sq mi|          1,520/km2| 39.98°N 82.98°W|
|      15|       Charlotte|      North Carolina|  900,350|   731,424|+23.10%|       305.4 sq mi|        791.0 km2|         2,757/sq mi|          1,064/km2| 35.20°N 80.83°W|
|      16| Indianapolis[g]|             Indiana|  877,903|   820,445| +7.00%|       361.5 sq mi|        936.3 km2|         2,366/sq mi|            914/km2| 39.77°N 86.14°W|
|      17|San Francisco[h]|          California|  866,606|   805,235| +7.62%|        46.9 sq mi|        121.5 km2|        18,569/sq mi|          7,170/km2|37.72°N 123.03°W|
|      18|         Seattle|          Washington|  769,714|   608,660|+26.46%|        83.8 sq mi|        217.0 km2|         8,405/sq mi|          3,245/km2|47.62°N 122.35°W|
|      19|       Denver[i]|            Colorado|  735,538|   600,158|+22.56%|       153.3 sq mi|        397.0 km2|         4,521/sq mi|          1,746/km2|39.76°N 104.88°W|
|      20|   Washington[j]| District of Colu...|  712,816|   601,723|+18.46%|        61.1 sq mi|        158.2 km2|        11,148/sq mi|          4,304/km2| 38.90°N 77.01°W|
+--------+----------------+--------------------+---------+----------+-------+------------------+-----------------+--------------------+-------------------+----------------+
only showing top 20 rows

In [89]:
c1 = spark.sql('SELECT State as States, COUNT(State) as Cities_100 FROM cp GROUP BY State ORDER BY State')
cit_100 = c1.toPandas()
ss =pd.DataFrame({'States':['West Virginia','Maine','Vermont', 'Wyoming','Delaware'], 'Cities_100':[0,0,0,0,0]})
cit_100 = cit_100.append(ss,ignore_index=True)
cit_100 = cit_100.sort_values(by=['States'])
cit_100

                   States  Cities_100
0                 Alabama           5
1                  Alaska           1
2                 Arizona          10
3                Arkansas           1
4              California          75
5                Colorado          12
6             Connecticut           5
7    District of Columbia           1
8                 Florida          22
9                 Georgia           8
10                 Hawaii           1
11                  Idaho           3
12               Illinois           8
13                Indiana           5
14                   Iowa           3
15                 Kansas           5
16               Kentucky           2
17              Louisiana           4
18               Maryland           1
19          Massachusetts           5
20               Michigan           6
21              Minnesota           3
22            Mississippi           1
23               Missouri           6
24                Montana           1
25               Nebraska           2
26                 Nevada           5
27          New Hampshire           1
28             New Jersey           4
29             New Mexico           2
30               New York           5
31         North Carolina           9
32           North Dakota           1
33                   Ohio           6
34               Oklahoma           4
35                 Oregon           6
36           Pennsylvania           3
37           Rhode Island           1
38         South Carolina           3
39           South Dakota           1
40              Tennessee           6
41                  Texas          41
42                   Utah           4
43               Virginia           7
44             Washington           9
45              Wisconsin           3
50               Delaware           0
47                  Maine           0
48                Vermont           0
46          West Virginia           0
49                Wyoming           0

In [48]:
cit_500= spark.sql('SELECT State, COUNT(State) as Count FROM cp WHERE estimate>100000 GROUP BY State ORDER BY State')
cit_500.show()

+-----+-----+
|State|Count|
+-----+-----+
+-----+-----+

In [65]:
twentyone={}
twenty = {}

for k,v in dict.items():
    if k[-1]=='1':
        twentyone[k]=v
    else:
        twenty[k]=v

In [66]:
df = pd.DataFrame()
for k,v in sorted(twenty.items()):
    df['States']= v['Province_State']
    df['Lat']= v['Lat']
    df['Long']= v['Long_']
    break
df.drop(index=[8,12,13,42,55,56,57,58], inplace=True)

In [70]:
new_df= df.merge(pop_density['Density per square mile of land area'], on=pop_density['States'], how='left')
new_df.drop(columns='key_0', inplace=True)
new_df1= new_df.merge(poli_leader['party'], on=pop_density['States'], how='left')
new_df1.drop(columns='key_0', inplace=True)
new_df2= new_df1.merge(cit_100['Cities_100'], on=pop_density['States'], how='inner')

print(new_df2)

KeyError: 0                  Alabama
1                   Alaska
2                  Arizona
3                 Arkansas
4               California
5                 Colorado
6              Connecticut
7                 Delaware
8     District of Columbia
9                  Florida
10                 Georgia
11                  Hawaii
12                   Idaho
13                Illinois
14                 Indiana
15                    Iowa
16                  Kansas
17                Kentucky
18               Louisiana
19                   Maine
20                Maryland
21           Massachusetts
22                Michigan
23               Minnesota
24             Mississippi
25                Missouri
26                 Montana
27                Nebraska
28                  Nevada
29           New Hampshire
30              New Jersey
31              New Mexico
32                New York
33          North Carolina
34            North Dakota
35                    Ohio
36                Oklahoma
37                  Oregon
38            Pennsylvania
39            Rhode Island
40          South Carolina
41            South Dakota
42               Tennessee
43                   Texas
44                    Utah
45                 Vermont
46                Virginia
47              Washington
48           West Virginia
49               Wisconsin
50                 Wyoming
Name: States, dtype: object

In [34]:
for k,v in sorted(twenty.items()):
    new_df1[k + ' confirmed'] = v['Confirmed']
    new_df1[k + ' deaths'] = v['Deaths']

for k,v in sorted(twentyone.items()):
    new_df1[k + ' confirmed'] = v['Confirmed']
    new_df1[k + ' deaths'] = v['Deaths']

In [35]:
new_df1

,States,Lat,Long,Density per square mile of land area,party,04-12-2020 confirmed,04-12-2020 deaths,04-13-2020 confirmed,04-13-2020 deaths,04-14-2020 confirmed,...,06-02-2021 confirmed,06-02-2021 deaths,06-03-2021 confirmed,06-03-2021 deaths,06-04-2021 confirmed,06-04-2021 deaths,06-05-2021 confirmed,06-05-2021 deaths,06-06-2021 confirmed,06-06-2021 deaths
0,Alabama,32.3182,-86.9023,94.4,republican,3667,93,3870,99,4041,...,544598,11167,545028,11188,545585,11198,545585,11198,545585,11198
1,Alaska,61.3707,-152.4044,1.2,republican,272,8,277,8,285,...,70355,369,70408,369,70469,369,70469,369,70469,369
2,Arizona,33.7298,-111.4312,56.3,republican,3542,115,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Arkansas,34.9697,-92.3731,56.0,republican,1280,27,3705,122,3809,...,882369,17648,882691,17653,883037,17673,883314,17698,883821,17700
4,California,36.1162,-119.6816,239.1,democrat,22805,643,1410,29,1498,...,341692,5835,341889,5842,342142,5845,342345,5846,342433,5846
5,Colorado,39.0598,-105.3111,48.5,democrat,7307,289,23956,713,25427,...,3791889,63294,3792962,63345,3794129,63401,3794927,63441,3795580,63557
6,Connecticut,41.5978,-72.7554,738.1,democrat,12035,554,7691,306,7950,...,544157,6590,545002,6603,545769,6611,546500,6613,546874,6613
7,Delaware,39.3185,-75.5071,460.8,democrat,1625,49,13381,602,13989,...,347678,8247,347748,8245,347891,8246,347891,8246,347891,8246
8,District of Columbia,38.8974,-77.0268,9856.5,democrat,49,0,1758,54,1926,...,108911,1666,108957,1668,109005,1674,109070,1677,109126,1677
9,Florida,27.7663,-81.6868,350.6,republican,1875,50,49,0,49,...,49,0,49,0,49,0,49,0,49,0
10,Georgia,33.0406,-83.6431,168.4,republican,19895,461,1955,52,2058,...,49011,1135,49041,1136,49068,1136,49068,1136,49068,1136
11,Hawaii,21.0943,-157.4983,211.8,democrat,12452,433,21019,499,21628,...,2327989,36924,2329867,36973,2329867,36973,2332867,36973,2332867,36973
12,Idaho,44.2405,-114.4788,19.0,republican,103,0,13315,465,14578,...,1124571,20867,1125017,20900,1125512,20942,1125854,20986,1126134,20986
13,Illinois,40.3495,-88.9861,231.1,democrat,133,5,103,0,103,...,103,3,103,3,103,3,103,3,103,3
14,Indiana,39.8494,-86.2583,181.0,republican,499,9,133,5,133,...,8187,139,8193,139,8204,139,8204,139,8204,139
15,Iowa,42.0115,-93.2105,54.5,republican,1407,27,504,9,511,...,36357,500,36402,501,36471,501,36535,502,36616,505
16,Kansas,38.5266,-96.7265,34.9,democrat,20852,720,1426,27,1464,...,192478,2097,192630,2101,192795,2101,192795,2101,192795,2101
17,Kentucky,37.6681,-84.6701,109.9,democrat,7928,448,22025,798,23248,...,1382979,25241,1383647,25265,1384283,25282,1384823,25314,1385165,25352
18,Louisiana,31.1695,-91.8678,104.9,democrat,1587,41,8359,483,8527,...,744474,13637,745690,13657,746135,13661,746554,13685,746554,13685
19,Maine,44.6939,-69.3819,43.1,democrat,1344,63,1710,41,1899,...,371640,6061,371765,6065,371862,6067,371956,6068,372024,6072
20,Maryland,39.0639,-76.8021,594.8,republican,1963,97,1390,61,1441,...,315767,5081,315767,5081,316059,5085,316059,5085,316059,5085
21,Massachusetts,42.2302,-71.5301,839.4,republican,20595,840,2018,113,2048,...,459124,7071,459540,7077,460049,7086,460412,7091,460412,7091
22,Michigan,43.3266,-84.5361,174.8,democrat,633,19,21016,884,21518,...,472304,10595,472617,10605,472981,10615,472981,10615,472981,10615
23,Minnesota,45.6945,-93.9002,66.6,democrat,8225,236,698,19,735,...,67881,827,67986,837,68058,838,68155,839,68233,839
24,Mississippi,32.7416,-89.6787,63.2,republican,25475,756,8936,262,9472,...,460060,9622,460194,9626,460339,9630,460471,9639,460575,9645
25,Missouri,38.4561,-92.2884,87.1,republican,24244,1479,26867,844,28164,...,707265,17886,707523,17893,707723,17903,707940,17907,708083,17911
26,Montana,46.9219,-110.4544,6.8,republican,1621,70,25635,1602,27001,...,993422,20423,993952,20485,994506,20511,994935,20588,994935,20588
27,Nebraska,41.1254,-98.2681,23.8,republican,2781,96,1621,70,1695,...,601645,7520,601881,7530,602134,7538,602428,7554,602686,7558
28,Nevada,38.3135,-117.0554,24.6,democrat,4352,120,2942,98,3087,...,317856,7322,318048,7324,318189,7325,318189,7325,318189,7325
29,New Hampshire,43.4525,-71.5639,147.0,republican,387,6,4568,128,4815,...,607158,9537,607774,9544,608463,9554,608970,9558,608578,9557
30,New Jersey,40.2989,-74.5210,1195.5,democrat,791,17,394,7,399,...,112002,1621,112129,1627,112260,1632,112260,1632,112260,1632
31,New Mexico,34.8405,-106.2485,17.0,democrat,2836,112,814,17,897,...,223434,2249,223517,2249,223558,2249,223558,2249,223558,2249
32,New York,42.1657,-74.9481,411.2,democrat,929,23,2990,114,3134,...,324681,5593,325031,5599,325392,5600,325392,5600,325392,5600
33,North Carolina,35.6301,-79.8064,196.1,democrat,61850,2350,985,23,922,...,98791,1353,98840,1354,98877,1355,98877,1355,98877,1355
34,North Dakota,47.5289,-99.7840,9.7,republican,1245,26,64584,2443,68824,...,1016763,26247,1017044,26253,1017118,26265,1017695,26273,1017904,26279
35,Ohio,40.3888,-82.7649,282.3,republican,189033,9385,1262,26,1345,...,203222,4268,203330,4273,203472,4280,203472,4280,203472,4280
36,Oklahoma,35.5653,-96.9289,54.7,republican,4570,89,195749,10058,203020,...,2103269,53338,2103768,53357,2104539,53416,2105375,53429,2105882,53462
37,Oregon,44.5720,-122.0709,39.9,democrat,308,7,4886,94,5113,...,1003508,13110,1003989,13130,1004669,13151,1004669,13151,1004669,13151
38,Pennsylvania,40.5908,-77.2098,283.9,democrat,6604,363,331,8,341,...,110045,1543,110098,1546,110151,1546,110178,1547,110199,1547
39,Rhode Island,41.6809,-71.5118,1018.1,democrat,1970,96,11,2,11,...,183,2,183,2,183,2,183,2,183,2
40,South Carolina,33.8569,-80.9450,153.9,republican,1527,52,6975,399,7285,...,1102890,19980,1103380,19980,1104001,19980,1104380,19980,1104648,19980
41,South Dakota,44.2998,-99.4388,10.7,republican,22983,572,2069,99,2184,...,453285,7316,453400,7316,453552,7316,453552,7316,453552,7316
42,Tennessee,35.7478,-86.6923,153.9,republican,897,44,1584,53,1633,...,201998,2676,202247,2683,202680,2686,202995,2691,203252,2694
43,Texas,31.0545,-97.5635,96.3,republican,2665,91,24336,610,25502,...,1208133,27259,1208879,27295,1209492,27325,1209894,27343,1210224,27348
44,Utah,40.1500,-111.8624,33.6,republican,3320,82,903,45,923,...,138799,2512,138873,2515,138949,2516,139004,2518,139068,2519
45,Vermont,44.0459,-72.7107,67.9,republican,730,6,2665,100,3251,...,151895,2712,151936,2715,151992,2717,151992,2717,151992,2717
46,Virginia,37.7693,-78.1700,202.6,democrat,5508,106,3391,82,3553,...,593526,9739,593628,9739,593727,9744,593948,9752,594130,9754
47,Washington,47.4009,-121.4905,101.2,democrat,13780,306,868,6,988,...,124227,2019,124242,2020,124261,2022,124261,2022,124261,2022
48,West Virginia,38.4912,-80.9545,77.1,democrat,2303,18,5610,109,5827,...,863328,12465,863620,12472,863840,12476,863840,12476,863840,12476
49,Wisconsin,44.2685,-89.6165,105.0,democrat,727,27,14328,337,15088,...,2956576,51575,2959171,51633,2961257,51676,2962395,51701,2962934,51719
50,Wyoming,42.7560,-107.3025,5.8,republican,5274,141,2363,13,2417,...,406482,2305,406825,2308,407113,2311,407419,2311,407642,2311